#root {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
    width: 100%;
    display: flex;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

ul {
    list-style: none;
}

#profile-picture {
    width: 100px;
    height: 100px;
    background-color: white;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 1.5em;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 5 0 auto;
    padding: 50px;
    background-color: black;
}

nav ul {
    padding: 0;
    text-align: center;
}

a {
    color: white;
}

.intro {
    color: white;
}

.tech-stack {
    display: flex;
    gap: 2em;
}

.tech-stack div {
    padding: 25px 50px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.experience li {
    display: flex;
    flex-direction: column;
}

.grow {
    transition: all .2s ease-in-out;
}

.tech-stack-cards:hover {
    transform: scale(1.025);
}

.landing-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: left;
}

.links a {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 1em 2em;
    background-color: #213547;
}

.links a:hover {
    background-color: black;
    color: white;
}